.app {
  display: grid;
  place-items: center;
  background-color: #0D1418;
  height: 100vh;
}

.app__body {
  display: flex;
  background-color: #323739;
  box-shadow: -1px 6px 20px -3px rgba(0, 175, 156, 0.5);
  height: calc(100vh - 40px);
  width: calc(100vw - 40px);
}

.MuiSvgIcon-root{
  color: #B1B3B5;
}